/* frontend/src/components/CardMesa.css */
.card-mesa {
  background-color: var(--cor-superficie);
  border: 1px solid var(--cor-borda);
  border-radius: 12px;
  padding: 24px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: var(--sombra-sutil);
  cursor: pointer;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px; 
}

.card-mesa:hover {
  transform: translateY(-8px);
  border-color: var(--cor-primaria);
}

.card-mesa-icon .table-icon-img {

  width: 100px; 
  height: 100px;

  object-fit: contain; 

  filter: grayscale(100%) brightness(50%);
}

.card-mesa p {
  color: var(--cor-texto-secundario);
  margin: 0;
  font-size: 1em;
}

.card-mesa button {
  width: 100%;
}