/* frontend/src/components/ModalReserva.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--cor-superficie);
  padding: 2rem;
  border-radius: 12px;
  width: 450px;
  color: var(--cor-texto);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--cor-borda);
}

.modal-content h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--cor-texto-secundario);
}

.form-group input {
  width: 95%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--cor-borda);
  background-color: #fff; 
  color: var(--cor-texto); 
  font-size: 1em;
}

.form-group input[type="datetime-local"] {
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}


.button-container .btn-secondary {
  background-color: transparent;
  border: 1px solid var(--cor-borda);
  color: var(--cor-texto-secundario);
}

.button-container .btn-secondary:hover {
  background-color: #e9ecef;
  border-color: var(--cor-borda);
  color: var(--cor-texto);
}