/* frontend/src/components/ModalReserva.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background-color: rgba(107, 114, 128, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: var(--cor-fundo);
  padding: 2.5rem;
  border-radius: 16px;
  width: 100%;
  max-width: 450px;
  color: var(--cor-texto);
  border: 1px solid var(--cor-borda);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.modal-content h2 {
  margin-top: 0;
  text-align: left;
}

.modal-content p {
  text-align: left;
  margin-top: -0.5rem;
  margin-bottom: 2rem;
  color: var(--cor-texto-secundario);
}

.form-group {
  margin-bottom: 1.25rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--cor-texto-secundario);
  font-weight: 500;
}

.form-group input {
  width: 100%;
  height: 50px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--cor-borda);
  background-color: #F9FAFB;
  color: var(--cor-texto);
  font-size: 1em;
  font-family: inherit;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.form-group input:focus {
  outline: none;
  border-color: var(--cor-primaria);
  box-shadow: 0 0 0 3px rgba(138, 43, 226, 0.2);
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}