/* frontend/src/App.css */

/* Estilo para a barra de navegação */
.navbar {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem; /* Aumenta o espaço entre os links */
  background-color: var(--cor-superficie);
  border-radius: 8px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar a {
  font-size: 1.1em;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: rgba(3, 218, 198, 0.1); /* Fundo suave no hover */
  color: var(--cor-acento);
}